<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HRMSuite" data-provider-thread-count="3" >
<listeners>
<listener class-name="ssm.hrm.Listeners.ListenerClass"></listener>
</listeners>
  <test thread-count="1" name="AdminLoginTest" parallel="methods">
    <classes>
      <class name="ssm.hrm.tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
